<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Books</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="main w-full h-screen bg-zinc-800 p-10 text-white">
    <div class="w-full flex items-center justify-between">
      <div class="flex gap-3 items-center">
       <img 
  class="w-20 h-20 object-cover rounded-full border-2 border-red-300" 
  src="/uploads/<%= user.profilepicture ? user.profilepicture : 'default.webp' %>" 
  alt="Profile Picture">
        <h1 class="text-3xl">Hi, <%= user.fullname %>👋</h1>
      </div>
      <div>
        <a class="px-3 py-2 bg-blue-500 border-2 rounded-md border-zinc-500 mr-5" href="/create/book">Create Book</a>
        <a class="px-3 py-2 bg-red-500 border-2 rounded-md border-zinc-500" href="/logout">Logout</a>
      </div>
    </div>

    <div class="data mt-20">
      <h1 class="text-3xl">Recently Added</h1>
      <hr>
      <div class="flex gap-5 flex-wrap">
  <% if (books && books.length > 0) { %>
    <% books.forEach(book => { %>
      <div class="book-card mt-10 bg-zinc-700 border-2 border-zinc-500 w-40 rounded-md overflow-hidden p-2">
        <img class="rounded-md" src="<%= book.image %>" alt="">
        <h3 class="ml-2 mt-4 text-zinc-400"><%= book.bookname %></h3>
        <h3 class="mb-3 ml-2"><%= book.authorname %></h3>
        <a class="ml-2 mr-2 text-blue-500" href="/edit/<%= book._id %>">Edit</a>
        <a class="text-red-500 " href="/delete/<%= book._id %>">Delete</a>
      </div>
    <% }) %>
  <% } else { %>
    <p class="text-gray-400 mt-10">No books found.</p>
  <% } %>
</div>
    </div>
  </div>
</body>
</html>
